<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_FILE" value="logs/com-zxqu"/>
    <!-- <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>116.62.92.49:5460</destination>  
    	<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender> -->
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>100</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                 <maxFileSize>500mb</maxFileSize>
             </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
         <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder> 
    </appender>
    <appender name="minuteRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE}-minute.%d{yyyy-MM-dd_HH}.log</FileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
         <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="com.zxqu.mybatis.mapper" level="TRACE"/>
    <logger name="com.zxqu" level="DEBUG" />
   <!--  <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="dailyRollingFileAppender" />
        <appender-ref ref="minuteRollingFileAppender" />
    </root> -->
    
</configuration>
